.home_header
  text-align: center
  margin: 20px 0
.bikes
  margin: 20px auto
.bike
  width: 300px
  height: 300px
  background-color: #02bb6f
  background-position: center
  background-size: cover
  position: relative
  .price
    background-color: white
    padding: 10px
    position: absolute
    bottom: 0
    right: 0
    font-weight: bold
