.home_header
  text-align: center
  margin: 20px 0
.bikes
  margin: 10px auto 20px auto
  max-width: 980px
.owl-height
  height: 400px
.bikes_header
  +clearfix
  margin: 20px 0 5px 0
  h1
    float: left
  .sell_bike_btn
    float: right
  +mobile
    h1
      margin-bottom: 10px
      font-size: 20px
    h1, .sell_bike_btn
      float: none
    text-align: center
.bike_filter
  background-color: #5676af
  margin: 20px 0 5px 0
  position: fixed
  left: 0
  top: 40px
  width: 300px
  z-index: 10
  height: 100%
.home_bike
  width: 232.5px
  height: 232.5px
  background-position: center
  background-size: cover
  position: relative
  display: block
  .price, .date
    position: absolute
    bottom: 40px
    left: 10px
  .date
    bottom: 10px