.profile_bike
  height: 200px
  margin: 20px 0
  padding: 0 !important
  +clearfix
  position: relative
  .title
    padding: 10px 20px 11px 20px
    overflow: hidden
    a
      font-size: 16px
      color: black
  .image, .config, .description
    float: left
  .config, .description
    padding: 0 20px
  .config
    width: 300px
  .description
    width: 400px
  .services
    position: absolute
    right: 0
    bottom: 0
    a
      font-size: 15px