.profile_bike
  height: 200px
  margin: 20px 0
  padding: 0 !important
  +clearfix
  .image, .config, .description
    +inline-block(top)
    margin-right: 10px
  .config, .description
    padding: 20px
  .services
    +inline-block(bottom)
    a
      width: 100px