.flash
  position: absolute
  right: 10px
  height: 0
  bottom: 164px
  text-align: center
  .message
    text-align: left
    color: white
    padding: 10px
    display: inline-block
    font-weight: bold

  .success
    border: 1px solid #009357
    background: #02bb6f

  .notice
    border: 1px solid #69b3d1
    background: #79cdee

  .warning
    border: 1px solid #ce8f4b
    background: #fbae5c

  .error, .alert
    border: 1px solid #ce4549
    background: #f0565b