.bike
  margin: 20px 0
  &.wrap_box
    padding: 0
  .image
    background-color: black
    img
      margin: auto
  .title
    font-weight: bold
    padding: 20px 20px 0 20px
    h1
      font-size: 25px
  .config
    overflow: hidden
    padding: 20px
  .description
    padding: 0 20px 20px 20px
    h4
      margin-bottom: 5px
