.bike
  margin: 20px 0
  &.wrap_box
    padding: 0
  .image
    background-color: black
    position: relative
    img
      margin: auto
  .bx-wrapper
    visibility: hidden
  .title, .owner, .config, .description
    padding: 15px 20px
  .title
    font-weight: bold
    h1
      font-size: 25px
  .owner
    border-top: 1px solid #F1F1F1
    border-bottom: 1px solid #F1F1F1
  .config
    overflow: hidden
    border-bottom: 1px solid #F1F1F1
  .description
    h4
      margin-bottom: 5px
