@import "compass"
@import "compass/layout/sticky-footer"
@import "reset"
@import "lib/*"
@import "vendor/*"
@import "shared/*"
@import "bikes/*"
@import "pages/*"
@import "profile/*"

html
  overflow-y: scroll

body, a
  font-family: 'Helvetica', 'sans-serif'
  font-size: 15px
a
  color: #1A5DD6

#root
  background-color: #FBFBFB

.inner_content
  max-width: 980px
  margin: 0 auto

.delete_profile
  text-align: center
  margin-top: 20px

.devise
  max-width: 400px
  margin: 20px auto

.wrap_box
  padding: 20px
  background-color: white
  +box-shadow(0 0px 5px 0 rgba(0, 0, 0, 0.1))

.lazy_load
  color: #0088CC
  text-decoration: none
  border-bottom: 1px dashed #0088CC
  cursor: pointer
  font-weight: normal

+sticky-footer(40px)

